@media (min-width: 1024px) {
  .navbar {
    position: relative;
    justify-content: space-between;
  }

  .navbar-nav {
    gap: calc(var(--spacing) * 10);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center !important;
    margin-inline: 0;
  }

  .navbar-nav > :not(:last-child) {
    margin-inline: 0;
  }
}
